@{
    ViewData["Title"] = "Home Page";
}
<p> @ViewBag.Test</p>
@if (ViewBag.Posts != null)
{
    @foreach (Post post in ViewBag.Posts)
    {
        <br />
        <br />
        <div class="card mb-3" style="min-height: 200px;">
            <div class="card-body d-flex flex-column">
                <h6 class="card-subtitle mb-2 text-muted">@post.Date</h6>
                <h5 class="card-title">@Html.Raw(post.Content)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@post.Label</h6>
                <p class="card-text">@post.User.UserName</p>
                <p>Likes: @post.Likes Dislikes: @post.Dislikes</p>
            </div>
            <div class="d-flex">
                @if (!post.DislikedBy.Contains(ViewBag.UserCurent) && !post.LikedBy.Contains(ViewBag.UserCurent))
                {
                    <form method="post" asp-action="Like" asp-controller="Home" asp-route-id="@post.Id">
                        <button type="submit" class="btn btn-primary">Like</button>
                    </form>
                    <form method="post" asp-action="Dislike" asp-controller="Home" asp-route-id="@post.Id">
                        <button type="submit" class="btn btn-primary">Dislike</button>
                    </form>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" disabled>Like</button>
                    <button type="submit" class="btn btn-primary" disabled>Dislike</button>
                }
            </div> 
            <div class="d-flex">
                @if (ViewBag.UserCurent == post.UserId || ViewBag.EsteAdmin == true)
                {
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
                    <form method="post" asp-action="Delete" asp-controller="Home" asp-route-id="@post.Id">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                }
            </div>

            <br />
            <div class="add-comments mt-3 mb-3">
                <a class="btn btn-outline-primary" asp-action="AddComment" asp-controller="MainComments" asp-route-id="@post.Id">Add Comment</a>
            </div>
            @if (post.Comments != null && post.Comments.Any())
            {
                @foreach (Comment comment in post.Comments)
                {
                    <div class="d-flex flex-column mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@comment.User.UserName</h5>
                                <p class="card-text">@Html.Raw(comment.Content)</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                @if (ViewBag.EsteAdmin == true || ViewBag.UserCurent == comment.UserId)
                                {
                                    <a class="btn btn-outline-primary" asp-controller="MainComments" asp-action="Edit" asp-route-id="@comment.Id">Edit</a>
                                }
                                @if (ViewBag.EsteAdmin == true || ViewBag.UserCurent == comment.UserId)
                                {
                                    <form asp-action="Delete" asp-controller="MainComments" asp-route-id="@comment.Id" method="post">
                                        <button type="submit" class="btn btn-outline-primary">Delete</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.LastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
