@model DAW.Models.ApplicationUser

<div class="container mt-4">
    <div class="card p-10">
            <img src="@Url.Content("~/images/chill.jpg")" alt="Profile Picture" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">

            <div class="ms-3">
                <h5>@Model.FirstName @Model.LastName</h5>
                <p class="text-muted">@Model.Bio</p>
            </div>

            <a class="btn btn-secondary" asp-controller="ApplicationUsers" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            
            </div>
</div>