<div class ="requests">
    <h5>Join Requests: </h5>
    <br />
    @foreach (var req in ViewBag.Requests)
    {
        <br />
        <div class="card w-100 h-100 mb-2">
            <div class="d-flex gap-2">
                <a asp-controller="ApplicationUsers" asp-action="Show" asp-route-id="@req.User.Id" class="text-decoration-none text-reset">
                    <img src="@Url.Content(req.User.ProfilePicture)" alt="Profile Picture" class="profile-icon rounded-circle img-fluid">
                </a>

                <div>
                    <div class="gap-2">
                        <h5>@req.User.FirstName @req.User.LastName</h5>
                        <p class="text-muted">@req.User.Bio</p>
                    </div>
                    <div class="d-flex gap-2 mb-2">
                        <form asp-action="Accept" asp-controller="Requests" method="post">
                            <input type="hidden" name="RequestId" value="@req.Id" />
                            <button type="submit" class="btn btn-primary">Accept</button>
                        </form>
                        <form asp-action="Decline" asp-controller="Requests" method="post">
                            <input type="hidden" name="RequestId" value="@req.Id" />
                            <button type="submit" class="btn btn-primary">Decline</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <br />
    }
</div>