@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert" role="alert">
    @ViewBag.Message
    </div>
}
@foreach (var group in ViewBag.Groups)
{
    <br />
    <div class="card">
        <h5 class="card-header">@group.Label Group</h5>
        <div class="card-body">
            <h5 class="card-title">@group.Name</h5>
            <h6 class="card-text">@group.Description</h6>
            <div>
                <img src=@Url.Content(group.User.ProfilePicture) alt="Profile Picture" class="profile-icon-post rounded-circle img-fluid" />
                <p class="card-text">@group.User.FirstName @group.User.LastName</p>
            </div>
        </div>
        <div class="d-felx">
            <a asp-action="Show" asp-controller="Groups" asp-route-id="@group.Id" class="btn btn-primary">Show</a>
        </div>
    </div>
}

<br />
<a asp-action="Create" asp-controller="Groups" class="btn btn-primary">New Group</a>
<br />

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.LastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

