@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert" role="alert">
    @ViewBag.Message
    </div>
}
@foreach (var group in ViewBag.Groups)
{
    <br />
    <div class="card">
        <h5 class="card-header">@group.Label Group</h5>
        <div class="card-body">
            <h5 class="card-title">@group.Name</h5>
            <h6 class="card-text">@group.Description</h6>
            <p class="card-text">@group.User.UserName</p>
        </div>
        <div class="d-felx">
            <a asp-action="Show" asp-controller="Groups" asp-route-id="@group.Id" class="btn btn-primary">Show</a>
        </div>
    </div>
}

<br />
<a asp-action="Create" asp-controller="Groups" class="btn btn-primary">New Group</a>
<br />
