@foreach (var group in ViewBag.Groups)
{
    <p>@group.Name</p>
    <p>@group.Description</p>
    <p>@group.Label</p>
    <p>@group.User.UserName</p>
    
    <br />

    @foreach (var post in group.Posts)
    {
        <p>@post.User.UserName</p>
        <p>@post.Content</p>
        <p>Likes: @post.Likes   Dislikes: @post.Dislikes</p>
        <br />
    }
}