@model DAW.Models.Group

<a asp-action="Members" asp-controller="Groups" asp-route-id="@Model.Id" class="btn btn-primary">Show Members</a>

@if (ViewBag.EsteMembru)
{
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPost-@Model.Id">New Post</button>
}

@if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
{
    <div class="delete">
        <form asp-action="Delete" asp-controller="Groups" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
}

@if (ViewBag.EsteAdmin)
{
    <div class="requests">
        <a asp-action="Show" asp-controller="Requests" asp-route-id="@Model.Id" class="btn btn-primary">Show Requests</a>
    </div>
}

@if (!ViewBag.EsteMembru && ViewBag.Clicked != true)
{
    <form asp-action="Join" asp-controller="Groups" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-primary">Join</button>
    </form>
}
else if (ViewBag.Clicked == true && !ViewBag.EsteMembru)
{
    <form asp-action="Join" asp-controller="Groups" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-primary" disabled>Join</button>
    </form>
}

<div class="modal fade" id="newPost-@Model.Id" tabindex="-1" aria-labelledby="newPostLabel-@Model.Id" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostLabel-@Model.Id">Add a new group post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Show" asp-controller="Groups" method="post">
                    <input type="hidden" name="GroupId" value="@Model.Id" />
                    <div class="form-group">
                        <label>Content</label>
                        <textarea name="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Label</label>
                        <input name="Label" class="form-control">
                    </div>
                    <button class="btn btn-success" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>

<br />

<div class="group-posts">
    @foreach (var post in @Model.Posts)
    {
        <p>@post.User.UserName</p>
        <p>@post.Content</p>
        <p>Likes: @post.Likes   Dislikes: @post.Dislikes</p>
        <br />
        <div class="butoane">
            @if (ViewBag.UserCurent == post.UserId || ViewBag.EsteAdmin)
            {
                <a asp-action="Edit" asp-controller="GroupPosts" asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
            }
            @if (ViewBag.UserCurent == post.UserId || ViewBag.EsteAdmin || ViewBag.EsteModerator)
            {
                <form method="post" asp-action="Delete" asp-controller="GroupPosts" asp-route-id="@post.Id">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>                
            }
        </div>
        <div class="add-comments">
            <input type="hidden" name="PostId" value="@post.Id" />
            <span asp-validation-for="Content" class="text-danger"></span>
            <br />
            <a class="btn btn-outline-primary" asp-action="AddComment" asp-controller="Comments" asp-route-id="@post.Id">Add Comment</a>
        </div>
        <div class="comments">
            @foreach (var comment in post.Comments)
            {
                <p>@comment.Content</p>
                <div class="d-flex">
                    <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="comment.Id">Edit</a>
                    <form asp-action="Delete" asp-controller="Comments" method="post">
                        <button type="submit" class="btn btn-outline-primary">Delete</button>
                    </form>
                </div>
            }
        </div>
    }
</div>