@model DAW.Models.Group

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert" role="alert">
    @ViewBag.Message
      </div>
}

    <br />
<div class="d-flex">

    @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
    {
        <a asp-action="Edit" asp-controller="Groups" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    }

    <a asp-action="Members" asp-controller="Groups" asp-route-id="@Model.Id" class="btn btn-primary">Show Members</a>

    @if (ViewBag.EsteMembru)
    {
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPost-@Model.Id">New Post</button>
    }

    @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
    {
        <div class="delete">
            <form asp-action="Delete" asp-controller="Groups" asp-route-id="@Model.Id" method="post">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
    }

    @if (ViewBag.EsteAdmin || ViewBag.EsteModerator)
    {
        <div class="re
quests">
            <a asp-action="Show" asp-controller="Requests" asp-route-id="@Model.Id" class="btn btn-primary">Show Requests</a>
        </div>
    }

    @if (!ViewBag.EsteMembru && ViewBag.Clicked != true)
    {
        <form asp-action="Join" asp-controller="Groups" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn btn-primary">Join</button>
        </form>
    }
    else if (ViewBag.Clicked == true && !ViewBag.EsteMembru)
    {
        <form asp-action="Join" asp-controller="Groups" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn btn-primary" disabled>Join</button>
        </form>
    }

    @if (ViewBag.EsteMembru && !ViewBag.EsteModerator)
    {
        <form method="post" asp-action="Leave" asp-controller="Groups" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-primary">Leave</button>
        </form>
    }
</div>

<div class="modal fade" id="newPost-@Model.Id" tabindex="-1" aria-labelledby="newPostLabel-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostLabel-@Model.Id">Add a new group post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: 60vh; overflow-y: auto;">
                <form asp-action="Show" asp-controller="Groups" method="post">
                    <input type="hidden" name="GroupId" value="@Model.Id" />
                    <div class="form-group">
                        <label>Content</label>
                        <textarea name="Content" class="form-control" placeholder="Post content"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Label</label>
                        <input name="Label" class="form-control" placeholder="Post label">
                    </div>
                    <button class="btn btn-success" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>

<br />

@if (ViewBag.Posts != null) {
    @foreach (GroupPost post in ViewBag.Posts)
    {
        <br />
        <br />
        <div class="card mb-3" style="min-height: 200px;">
            <div class="card-body d-flex flex-column">
                <h6 class="card-subtitle mb-2 text-muted">@post.Date</h6>
                <h5 class="card-title">@Html.Raw(post.Content)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@post.Label</h6>
                <p class="card-text">@post.User.UserName</p>
                <p>Likes: @post.Likes Dislikes: @post.Dislikes</p>
            </div>
            <div class="d-flex">
                @if (!post.DislikedBy.Contains(ViewBag.UserCurent) && !post.LikedBy.Contains(ViewBag.UserCurent))
                {
                    <form method="post" asp-action="Like" asp-controller="Groups" asp-route-id="@post.Id">
                        <button type="submit" class="btn btn-primary">Like</button>
                    </form>
                    <form method="post" asp-action="Dislike" asp-controller="Groups" asp-route-id="@post.Id">
                        <button type="submit" class="btn btn-primary">Dislike</button>
                    </form>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" disabled>Like</button>
                    <button type="submit" class="btn btn-primary" disabled>Dislike</button>
                }
            </div>
            <div class="d-flex">
                @if ((ViewBag.UserCurent == post.UserId && ViewBag.EsteMembru) || ViewBag.EsteAdmin)
                {
                    <a asp-action="Edit" asp-controller="GroupPosts" asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
                }
                @if ((ViewBag.UserCurent == post.UserId && ViewBag.EsteMembru) || ViewBag.EsteAdmin || ViewBag.EsteModerator)
                {
                    <form method="post" asp-action="Delete" asp-controller="GroupPosts" asp-route-id="@post.Id">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                }
            </div>

            <br />
            <div class="add-comments mt-3 mb-3">
                @if (ViewBag.EsteMembru || ViewBag.EsteAdmin)
                {
                    <a class="btn btn-outline-primary" asp-action="AddComment" asp-controller="Comments" asp-route-id="@post.Id">Add Comment</a>
                }
            </div>
            @if (post.Comments != null && post.Comments.Any()) {
                @foreach (Comment comment in post.Comments)
                {
                    <div class="d-flex flex-column mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@comment.User.UserName</h5>
                                <p class="card-text">@Html.Raw(comment.Content)</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                @if (ViewBag.EsteAdmin || ViewBag.UserCurent == comment.UserId)
                                {
                                    <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id">Edit</a>
                                }
                                @if (ViewBag.EsteAdmin || ViewBag.EsteModerator || ViewBag.UserCurent == comment.UserId)
                                {
                                    <form asp-action="Delete" asp-controller="Comments" asp-route-id="@comment.Id" method="post">
                                        <button type="submit" class="btn btn-outline-primary">Delete</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.LastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
